.slogan {
  height: 60vh;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page-review-card {
  cursor: pointer;
  width: 400px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  min-height: 250px;
  max-height: 280px;
  box-shadow: 0px 0px 3px 3px #e8e8e8;
  transition: all 0.2s;
}

.clinic-name-review-card {
  font-size: 1.2em;
  margin: 0px;
}

.clinic-address-review-card {
  font-size: 0.8em;
  margin: 0px;
  padding: 5px 0px;
}

.clinic-description-review-card {
  font-size: 0.8em;
  color: gray;
  font-style: italic;
  margin: 0px;
}

.horizontal-divider-review-card {
  width: 80%;
  height: 1px;
  margin: 10px auto;
  background-color: #a6a9b6b2;
}

/* Animation */
.home-page-review-card:hover {
  transform: scale(1.1, 1.1);
}
