/* this comes from components cards */
hr {
  color: gray;
  background-color: gray;
}
.change-size {
  width: 20vw;
  height: auto;
}
.all {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border: grey !important;
}
.short-line {
  width: 50%;
}
.position-end {
  position: absolute;
  left: 0;
  bottom: 5px;
}
.position-right {
  position: absolute;
  right: 0;
  top: 5px;
}
.text-address {
  font-size: small;
  font-weight: normal;
}
.list-1 {
  margin-left: 10px;
}
/* this is all in search list page */
.first-item {
  display: flex;
  flex-direction: column;
}
.information {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
  width: 100%;
}
span {
  margin-left: 5px;
}
.wrap-card {
  margin-left: 10px;
  margin-right: 10px;
  border-color: grey;
}
/* this below for left side */
.wrapper-rating {
  border-style: groove;
  border-width: 2px;
  border-radius: 15px;
  width: 20vw;
  height: 20vh;
  border-color: grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}
